@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

@import "tailwindcss";
@import 'tailwindcss-animated';


body{
  overflow-x: hidden;
}
#root {
  color: white;
  margin: 0 auto;
  padding:  0;
  text-align: center;
  font-family: montserrat, Arial;
  font-weight: lighter;

}
#fixed-canvas{
  position: fixed;
  z-index: 0;
}

@theme {
  --color-prim:  #74ABFF;
  --color-sec: #8c051e;
  --color-background: #171515;
  --color-navbar: #1e1b1b;

  --color-project: #333030;
  --color-project-light: #3d3a3a;
}
@layer components {
  .project {
    @apply relative
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: montserrat, sans-serif;
  }


}
@layer base {


}
@utility flex-center {
  @apply flex justify-center items-center ;
}
